<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Page not found</title>
        {% include "meta-generics.html" %}
        <meta property="og:title" content="The requested page does not exist."/>
        <meta property="og:description" content="The requested page does not exist."/>
        [[css|/main.css]]
    </head>
    <body>
        {% include "header.html" %}
        <main id="page-not-found">
            <h1><a href="#page-not-found">Page not found</a></h1>

            <p>The requested page does not exist. If you think this is a mistake, please
            <a href="https://github.com/secureblue/secureblue.io/issues">report an issue</a>.</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
