<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Donate to secureblue</title>

        <meta name="description" content="Donate to secureblue."/>
        <meta property="og:title" content="Donate to secureblue"/>
        <meta property="og:description" content="Donate to secureblue."/>
        <meta property="og:url" content="https://secureblue.io/donate"/>
        <link rel="canonical" href="https://secureblue.io/donate"/>
        [[css|/main.css]]

        <meta name="theme-color" content="#00293d"/>
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#00293d"/>
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#00293d"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#00abff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://secureblue.io/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="secureblue logo"/>
        <meta property="og:site_name" content="secureblue"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="/mask-icon.svg" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
    </head>
    <body>
        {% with current_page="donate" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="donate">
            <h1><a href="#donate">Donate</a></h1>

            <p>money :p</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
