<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Donate to secureblue</title>
        {% include "meta-generics.html" %}
        <meta name="description" content="Donate to secureblue."/>
        <meta property="og:title" content="Donate to secureblue"/>
        <meta property="og:description" content="Donate to secureblue."/>
        <meta property="og:url" content="https://secureblue.io/donate"/>
        <link rel="canonical" href="https://secureblue.io/donate"/>
        [[css|/main.css]]
    </head>
    <body>
        {% with current_page="donate" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="donate">
            <h1><a href="#donate">Donate</a></h1>

            <p>money :p</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
