<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>FAQ | secureblue</title>
        {% include "meta-generics.html" %}
        <meta name="description" content="Answers to frequently asked questions about secureblue."/>
        <meta property="og:title" content="FAQ | secureblue"/>
        <meta property="og:description" content="Answers to frequently asked questions about secureblue."/>
        <meta property="og:url" content="https://secureblue.io/"/>
        <link rel="canonical" href="https://secureblue.io/"/>
        [[css|/main.css]]
    </head>
    <body>
        {% with current_page="faq" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="faq">
            <h1 id="faq">FAQ</h1>
            <h4 id="why-is-flatpak-included-should-i-use-flatpak-">Why is flatpak included? Should I use flatpak?</h4>
            <p><a href="https://github.com/secureblue/secureblue/issues/125#issuecomment-1859610560">https://github.com/secureblue/secureblue/issues/125#issuecomment-1859610560</a></p>
            <h4 id="should-i-use-electron-apps-why-don-t-they-work-well-with-hardened_malloc-">Should I use electron apps? Why don&#39;t they work well with hardened_malloc?</h4>
            <p><a href="https://github.com/secureblue/secureblue/issues/193#issuecomment-1953323680">https://github.com/secureblue/secureblue/issues/193#issuecomment-1953323680</a></p>
            <h4 id="my-fans-are-really-loud-is-this-normal-">My fans are really loud, is this normal?</h4>
            <p>During rpm-ostree operations, it&#39;s normal. Outside of that, make sure you followed the nvidia steps in the readme if you&#39;re using nvidia.</p>
            <h4 id="should-i-use-firejail-">Should I use firejail?</h4>
            <p><a href="https://madaidans-insecurities.github.io/linux.html#firejail">No</a>, use <code>bubblejail</code> if there&#39;s no flatpak available for an app.</p>
            <h4 id="an-app-i-use-won-t-start-due-to-a-malloc-issue-how-do-i-fix-it-">An app I use won&#39;t start due to a malloc issue. How do I fix it?</h4>
            <ul>
            <li>For flatpaks, remove the <code>LD_PRELOAD</code> environment variable via Flatseal. To re-enable hardened_malloc for the respective flatpak, replace the removed variable.</li>
            <li>For layered packages and packages installed via brew, run the application with <code>ujust with-standard-malloc APP</code>. This starts the app without hardened_malloc only once, it does not disable hardened_malloc for the app persistently.</li>
            </ul>
            <h4 id="on-secureblue-half-of-my-cpu-cores-are-gone-why-is-this-">On secureblue half of my CPU cores are gone. Why is this?</h4>
            <p><code>mitigations=auto,nosmt</code> is set on secureblue. This means that if your CPU is vulnerable to attacks that utilize <a href="https://en.wikipedia.org/wiki/Simultaneous_multithreading">Simultaneous Multithreading</a>, SMT will be disabled.</p>
            <h4 id="should-i-use-a-userns-image-or-not-what-s-the-difference-">Should I use a userns image or not? What&#39;s the difference?</h4>
            <p><a href="USERNS.md">USERNS</a></p>
            <h4 id="how-do-i-install-software-">How do I install software?</h4>
            <ol>
            <li>Check if it&#39;s already installed using <code>rpm -qa | grep x</code></li>
            <li>For GUI packages, you can install the flatpak if available using the Software store or using <code>flatpak install</code>. A catalogue of flatpaks is available at <a href="https://flathub.org">https://flathub.org</a>.</li>
            <li>For CLI packages, you can install from brew if available using <code>brew install</code>. A catalogue of brew packages is available at <a href="https://formulae.brew.sh">https://formulae.brew.sh</a>.</li>
            <li>If a package isn&#39;t available via the other two options, or if a package requires greater system integration, <code>rpm-ostree install</code> can be used to layer rpms directly into your subsequent deployments.</li>
            </ol>
            <h4 id="another-security-project-has-a-feature-that-s-missing-in-secureblue-can-you-add-it-">Another security project has a feature that&#39;s missing in secureblue, can you add it?</h4>
            <p>First check if the README already has an equivalent or better feature. If it doesn&#39;t, open a new github issue.</p>
            <h4 id="how-do-i-install-steam-">How do I install Steam?</h4>
            <p>To use Steam you can either:</p>
            <ul>
            <li>Install the <a href="https://flathub.org/apps/com.valvesoftware.Steam">flatpak</a></li>
            <li>Install Steam via the <a href="https://github.com/ublue-os/bazzite-arch">bazzite-arch</a> distrobox</li>
            <li>Layering Steam is not recommended</li>
            </ul>
            <h4 id="why-are-bluetooth-kernel-modules-disabled-how-do-i-enable-them-">Why are bluetooth kernel modules disabled? How do I enable them?</h4>
            <p>Bluetooth has a long and consistent history of security issues. However, if you still need it, run:</p>
            <pre><code><span class="hljs-attribute">ujust toggle-bluetooth-modules</span>
            </code></pre><h4 id="why-are-upgrades-so-large-">Why are upgrades so large?</h4>
            <p>This is an issue with rpm-ostree image-based systems generally, and not specific to secureblue. Ideally upgrades would come in the form of a zstd-compressed container diff, but it&#39;s not there yet. Check out <a href="https://github.com/coreos/rpm-ostree/issues/4012">this upstream issue</a> for more information.</p>
            <h4 id="why-can-t-i-install-new-kde-themes-">Why can&#39;t I install new KDE themes?</h4>
            <p>The functionality that provides this, called GHNS, is disabled by default due to the risk posed by the installation of potentially damaging or malicious scripts. This has caused <a href="https://blog.davidedmundson.co.uk/blog/kde-store-content/">real damage</a>.</p>
            <p>If you still want to enable this functionality, run:</p>
            <pre><code><span class="hljs-attribute">ujust toggle-ghns</span>
            </code></pre><h4 id="why-doesn-t-my-xwayland-app-work-">Why doesn&#39;t my Xwayland app work?</h4>
            <p>Xwayland is disabled by default on GNOME, KDE Plasma, and Sway. If you need it, run:</p>
            <pre><code><span class="hljs-attribute">ujust toggle-xwayland</span>
            </code></pre><h4 id="why-i-can-t-install-nor-use-any-gnome-user-extensions-">Why I can&#39;t install nor use any GNOME user extensions?</h4>
            <p>This is because support for installing &amp; using them has been intentionally disabled by default in secureblue.
            Only GNOME system extensions are trusted, if they are installed.</p>
            <p>To enable support for installing GNOME user extensions, you can run ujust command:</p>
            <pre><code><span class="hljs-attribute">ujust toggle-gnome-extensions</span>
            </code></pre><h4 id="my-clock-is-wrong-and-it-s-not-getting-automatically-set-how-do-i-fix-this-">My clock is wrong and it&#39;s not getting automatically set. How do I fix this?</h4>
            <p>If your system time is off by an excessive amount due to rare conditions like a CMOS reset, your network will not connect. A one-time manual reset will fix this. This should never be required except under very rare circumstances.</p>
            <p>For more technical detail, see <a href="https://github.com/secureblue/secureblue/issues/268">#268</a></p>
            <h4 id="why-is-dns-broken-on-my-secureblue-vm-">Why is DNS broken on my secureblue VM?</h4>
            <p>The DNSSEC setting we set in <code>/etc/systemd/resolved.conf.d/securedns.conf</code> causes known issues with network connectivity when secureblue is used in a VM. To fix it, comment out <code>DNSSEC=allow-downgrade</code> in that file and manually set a dns provider in network settings.</p>
            <h4 id="releases">Releases</h4>
            <p>To subscribe to release notifications, on the secureblue github page, click &quot;Watch&quot;, and then &quot;Custom&quot;, and select Releases like so:</p>
            <p><img src="https://github.com/user-attachments/assets/38146394-f730-4b84-8bfa-4fbbf29350ff" alt="image"></p>
            <h4 id="why-don-t-my-appimages-work-">Why don&#39;t my AppImages work?</h4>
            <p>AppImages depend on fuse2, which is unmaintained and depends on a suid root binary. For this reason, fuse2 support is removed by default. It&#39;s strongly recommended that you find alternative mechanisms to install your applications (flatpak, distrobox, etc). If you can&#39;t find an alternative and still need fuse2, you can add it back by layering something that depends on it.</p>
            <p>For example:</p>
            <pre><code>rpm-ostree <span class="hljs-keyword">install</span> zfs-fuse
            </code></pre><h4 id="why-don-t-kde-vaults-work-">Why don&#39;t KDE Vaults work?</h4>
            <p>Similar to the AppImage FAQ, the KDE Vault default backend <code>cryfs</code> depends on fuse2. For this reason it&#39;s recommended that you migrate to an alternative that doesn&#39;t depend on fuse2, for example <code>fscrypt</code>. If you don&#39;t want to do so, you can add fuse2 back by layering something that depends on it, as described in the AppImage FAQ.</p>
            <h4 id="how-do-i-provision-signed-distroboxes-">How do I provision signed distroboxes?</h4>
            <pre><code><span class="hljs-attribute">ujust distrobox-assemble</span>
            </code></pre><h4 id="why-aren-t-my-apps-loading-on-nvidia-optimus-">Why aren&#39;t my apps loading on Nvidia Optimus?</h4>
            <p>There is an <a href="https://discussion.fedoraproject.org/t/gdk-message-error-71-protocol-error-dispatching-to-wayland-display/127927/21">upstream bug</a>. You may need to run:</p>
            <pre><code>mkdir -p ~<span class="hljs-regexp">/.config/environment</span>.d &amp;&amp; echo <span class="hljs-string">"GSK_RENDERER=gl"</span> <span class="hljs-meta">&gt;&gt; </span>~<span class="hljs-regexp">/.config/environment</span>.d/gsk.conf
            </code></pre><p>This should no longer be required as of F41: <a href="https://discussion.fedoraproject.org/t/gdk-message-error-71-protocol-error-dispatching-to-wayland-display/127927/42">https://discussion.fedoraproject.org/t/gdk-message-error-71-protocol-error-dispatching-to-wayland-display/127927/42</a></p>
            <h4 id="why-won-t-hardened-chromium-start-">Why won&#39;t <code>hardened-chromium</code> start?</h4>
            <p>Try starting <code>hardened-chromium</code> from the commandline by running <code>chromium-browser</code>. If you get an error about the current profile already running on another device, this is an issue with upstream chromium which can happen when you <code>rpm-ostree update</code> or <code>rpm-ostree rebase</code>. To fix this, simply run <code>rm ~/.config/chromium/Singleton*</code></p>
            <h4 id="why-won-t-hardened-chromium-start-on-nvidia-">Why won&#39;t <code>hardened-chromium</code> start on Nvidia?</h4>
            <p>On some Nvidia machines, <code>hardened-chromium</code> defaults to the X11 backend. Since secureblue disables Xwayland by default, this means that you will need to run <code>ujust toggle-xwayland</code> and reboot, for <code>hardened-chromium</code> to work.</p>
            <h4 id="why-don-t-some-websites-that-require-jit-webassembly-work-in-hardened-chromium-even-with-the-v8-optimizer-toggle-enabled-">Why don&#39;t some websites that require JIT/WebAssembly work in hardened-chromium even with the V8 Optimizer toggle enabled?</h4>
            <p>This is an <a href="https://issues.chromium.org/issues/373893056">upstream bug</a> that prevents V8 optimization settings from being applied to iframes embedded within a parent website. As a result, WebAssembly may not function on services that use a separate URL for their content delivery network or other included domains, such as VSCode Web (<a href="https://github.dev">https://github.dev</a>). To make VSCode Web work properly, you need to manually allow V8 optimizations for the CDN by adding <code>https://[*.]vscode-cdn.net</code> to your list of trusted websites.</p>            
        </main>
        {% include "footer.html" %}
    </body>
</html>
