<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>FAQ | secureblue</title>
        {% include "meta-generics.html" %}
        <meta name="description" content="Answers to frequently asked questions about secureblue."/>
        <meta property="og:title" content="FAQ | secureblue"/>
        <meta property="og:description" content="Answers to frequently asked questions about secureblue."/>
        <meta property="og:url" content="https://secureblue.io/"/>
        <link rel="canonical" href="https://secureblue.io/"/>
        [[css|/main.css]]
    </head>
    <body>
        {% with current_page="faq" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="faq">
            <h1><a href="#faq">FAQ</a></h1>
        </main>
        {% include "footer.html" %}
    </body>
</html>
