<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Hardening | secureblue</title>
        {% include "meta-generics.html" %}
        <meta name="description" content="Overview of the hardening applied in secureblue."/>
        <meta property="og:title" content="Hardening | secureblue"/>
        <meta property="og:description" content="Overview of the hardening applied in secureblue."/>
        <meta property="og:url" content="https://secureblue.io/"/>
        <link rel="canonical" href="https://secureblue.io/"/>
        [[css|/main.css]]
    </head>
    <body>
        {% with current_page="features" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="features">
            <h1><a href="#features">Hardening</a></h1>

            <p>This section is included in the homepage. This page exists because its author is unsure whether or not to move it.</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
