<header>
    <nav id="site-menu">
        <ul>
            <li {% if current_page == "/" %}aria-current="page"{% endif %}><a href="/"><img src="/mask-icon.svg" alt=""/>secureblue</a></li>
            <li {% if current_page == "features" %}aria-current="page"{% endif %}><a href="/hardening">Hardening</a></li>
            <li {% if current_page == "faq" %}aria-current="page"{% endif %}><a href="/faq">FAQ</a></li>
            <li {% if current_page == "install" %}aria-current="page"{% endif %}><a href="/install">Install</a></li>
            <li {% if current_page == "build" %}aria-current="page"{% endif %}><a href="/customization">Customization</a></li>
            <li {% if current_page == "source" %}aria-current="page"{% endif %}><a href="https://github.com/secureblue/">Sources (GitHub)</a></li>
            <li {% if current_page == "donate" %}aria-current="page"{% endif %}><a href="/donate">Donate</a></li>
            <li {% if current_page == "contact" %}aria-current="page"{% endif %}><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
